<% if user_signed_in? %>
<h1>Bienvenido <%= current_user.email %></h1>
<%end%>
<% [1,2,3,4].each do |number| %>
   <p>Numero: <%= number %></p>
<%end%>
<%mundo = "Fernando"%>
<%= "Hola #{mundo}"%>

<%= link_to "Articulos", articles_path %>


